<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:androidprv="http://schemas.android.com/apk/prv/res/android" android:sharedUserId="android.uid.phone" coreApp="true" package="com.android.mms.service" platformBuildVersionCode="22" platformBuildVersionName="5.1-1450667650">
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.WRITE_SMS"/>
    <uses-permission android:name="android.permission.BROADCAST_WAP_PUSH"/>
    <uses-permission android:name="android.permission.BIND_CARRIER_MESSAGING_SERVICE"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS"/>
    <application android:label="MmsService" android:process="com.android.phone">
        <service android:enabled="true" android:exported="true" android:name=".MmsService"/>
    </application>
</manifest>
